/*
    -----
    Components: Content
    -----
*/

.c-content {
    @extend .u-max-width-sm;
    margin-left: auto;
    // margin-left: 10em;

    @media screen and (max-width: $breakpoint-lg) {
        margin-left: 0;
    }
}
