/*
    -----
    Components: Brand
    -----
*/

.c-brand {
    content: '';
    display: block;
    height: 170px;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../img/svg/TR-logo-beta-lg.svg);
    text-indent: -99999px;
}