/*
    -----
    Components: grid
    -----
*/

.c-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 120px;

    @media screen and (max-width: $breakpoint-lg) {
        display: block;
    }
}