* {
    font-family: $alpha-font-family;
}

html {
    font: $alpha-font-family #{$alpha-font-size/16*100%}/#{$alpha-line-height} $html-font-family;
    -webkit-overflow-scrolling: touch;
    background-color: $html-background-color;
}

body {
    color: $body-color;
}

/*
::-moz-selection {
    background-color: $body-selection-background-color;
    color: $body-selection-color;
    text-shadow: $body-selection-text-shadow;
}

::selection {
    background-color: $body-selection-background-color;
    color: $body-selection-color;
    text-shadow: $body-selection-text-shadow;
}*/
